.container {
  display: flex;
  justify-content: center;
}

.arrow1 {
  background-color: rgba(165, 167, 73, 0.801);
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 5px, 5px, 5px, salmon;
  border: solid black 0px;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
}

.arrow2 {
  background-color: rgba(214, 86, 86, 0.801);
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 5px, 5px, 5px, salmon;
  border: solid black 0px;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
}
