.app {
  background-image: url("https://fondosmil.com/fondo/52894.jpg");
  background-size: cover;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 4pxs;
}
